/* second commit added .h2 color */
/* third commit - correct CSS errors by remove . from body and h2 */
body {
    background: blue;
    margin-right: 10px;
    padding-left: 10px;
}

h2 {
    background-color: bisque;
}

